@use "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-surface: #f8fafc; /* light */
}

:root.dark {
  --app-surface: #0b0b0c; /* dark */
}

/* base */
html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: var(--font-family);
  background: var(--app-surface);
  color: var(--p-text-color);
}
app-root, app-shell {
  display: flex;
  flex-direction: column;
  height: 100%;
}

