<ng-container *transloco="let t">
<mp-page-header
  [title]="t('pages.home.title')"
  icon="fa-solid fa-house"
></mp-page-header>

@if (showSchoolSetup()) {
  <mp-callout class="block mb-4" [title]="t('pages.home.schoolSetup.title')">
    {{ t('pages.home.schoolSetup.body') }}
    <a
      mpButton
      size="sm"
      calloutAction
      routerLink="/staff/school/details">
      {{ t('pages.home.schoolSetup.action') }}
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </mp-callout>
}

@if (showAcademicYearSetup()) {
  <mp-callout class="block mb-4" [title]="t('pages.home.academicYearSetup.title')">
    {{ t('pages.home.academicYearSetup.body') }}
    <a
      mpButton
      size="sm"
      calloutAction
      routerLink="/staff/curriculum/academic-years">
      {{ t('pages.home.academicYearSetup.action') }}
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </mp-callout>
}

<div class="flex flex-col md:flex-row gap-4">
  <section class="mp-surface flex-1 min-w-0 flex flex-col p-4 gap-3">
    <div class="flex items-center gap-3">
      <i class="fa-regular fa-calendar text-primary text-xl"></i>
      <h3 class="text-base font-semibold m-0">{{ t('pages.home.timetable') }}</h3>
    </div>
    <mp-staff-timetable [self]="true"></mp-staff-timetable>
  </section>
  <mp-bulletins-feed class="flex-1 min-w-0"></mp-bulletins-feed>
</div>
</ng-container>
